.list__Item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;

    .pic {
        display: block;
        width: 125px;
        height: 100px;
        float: right;
        border-radius: 10px;
    }

}

.list__Info {
    width: 50em;
	float: left;
	&.title {
		line-height: 27px;
		font-size: 18px;
		font-weight: bold;
		color: #333;
	}
	&.desc {
		line-height: 24px;
		font-size: 13px;
		color: #999;
	}

}
